html {
  scroll-behavior: smooth;
}

body {
  font: 62.5% $primary-font, sans-serif;
  font-weight: 400;
  color: $root-color;
  background: $white-color-1;
  line-height: 1.5;
  letter-spacing: 0.05em;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
}

img { display: block; }

.wrap {
  max-width: 1524px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  &.smaller {
    max-width: 1416px;
  }

  &.compact {
    max-width: 1000px;
  }

  &.wide {
    max-width: 1470px;
  }


  &.super-wide-header {
    max-width: 1890px;
    padding: 0;
    margin: 0;
  }
}

section {
  padding: 90px 0;
}