

/*********************** TABLET LANDSCAPE ***********************/

@media only screen and (min-width: 577px) and (max-width: 1024px){

    body{ font-size: 54%; }

    .wrap{ padding: 0 40px; }

    section{ padding: 70px 0; }


    // TITLES
    h1, h2{ font-size: 3.0em; }
    h3{ font-size: 2.4em; }
    h4{ font-size: 1.9em; }



    // MENU
    nav.links{ display: none; }


    // BANNER
    .section-banners{
        .cycle-slideshow .li{ height: 680px; }
    }


    .section-area-construida .mark{
        left: 5%;
        width: 14%;
        height: 14%;

        &.m2{ top: 20%; }
        &.m3{ top: 36%; }

        &.m4{ top: 9%;  left: 24%; }
        &.m5{ top: 19%; left: 43%; }
    }


    .section-plantas{
        .plantas-nav{
            width: 180px;
    
            a{
                padding: 9px 10px 7px 15px;
            }
        }

        .plantas-slide{
            .leg{
                font-size: 2em;
            }
            .metragem{
                font-size: 2em;
            }
        }
    }
}










/*********************** TABLET PORTRAIT **********************/

@media only screen and (min-width: 577px) and (max-width: 768px){

    body{ font-size: 50%; }

    section{ padding: 50px 0; }

    .menu .menu-item{ margin-bottom: 6vh; font-size: 3vh; }

    .section-block-3 .num{ line-height: initial; }

    .section-plantas{
        .plantas-nav{ margin-top: -110px; }

        .plantas-slide{
            .leg{
                font-size: 1.8em;
            }
            .metragem{
                font-size: 1.8em;
            }
        }
    }

    .section-map-houses .point{
        width: 25px;
        height: 25px;
    }

    .section-area-construida .item span{
        font-size: 2em;
    }

    .section-area-construida .num{
        line-height: initial;
        width: 28px;
        height: 28px;
        font-size: 2em;
    }

    .section-area-construida .mark{
        &.m4{ top: 4%;  left: 21%; transform: scale(0.8); }
        &.m5{ top: 11%; left: 40%; transform: scale(0.8); }
    }

    .section-studio small{ font-size: 0.8em; }
}

















/************************* SMARTPHONE **************************/

@media only screen and (max-width: 576px) {

    // BODY
    body{
        font-size: 55%;
        line-height: 1.6;
    }

    p{ font-size: 1.6em; }


    // DISABLE ANIMATION
    // .waypoint{ opacity: 1; }


    // CONTAINER
    .wrap{
        padding: 0 35px;
    }

    section{ padding: 70px 0; }


    // HEADER
    header{
        height: 80px; 
        padding-top: 8px; 

        .logo{
            max-width: 100px;
            margin: 30px 0 0;
        }

        &.is-compact{
            height: 70px;
            padding-top: 17px;

            .logo{
                margin-top: 6px;
                max-width: 70px;
            }

            .navbar-burger{
                margin-top: 0px;
            }
        }

        .navbar-burger{
            margin-top: 30px; 
            @include absolute($r: 15px);
        }
    }


    // TITLES
    h1, h2{
        font-size: 3.6em;
        line-height: 1.2;
        // margin-bottom: 25px;
    }

    h3{ font-size: 3.2em; }
    // h4{ font-size: 14px; }


    // MENU
    .menu{
        right: -100%;
        width: 100%;
        height: 100dvh;

         .container-menu{
            margin-top: 18vh;
            margin-left: 22vw;
        }
        
        .bt-close-menu{
            top: 30px;
            right: 30px;
            max-width: 25px;
        }

        .menu-item{
            margin-bottom: 5.4vh;
            font-size: 1.4em;
        }

        .phone{
            right: 5vw;
            font-size: .8em;
        }

        .logo{
            max-width: 76px;
        }
    }


    // BANNERS
    .section-banners{
        .cycle-slideshow .li{
            height: 760px;
        }

        .cycle-prev, .cycle-next{
            left: 30px;
            top: 675px;
            width: 50px;
            height: 50px;

            svg{ transform: scale(0.6); }
        }

        .cycle-next{ right: 30px; left: initial; }
    }

   

   
   
   





    // HOME *************************************

    .box-video{
        max-height: initial;
    }

    .section-intro {
        background-image: linear-gradient(to bottom, #E3DED2 24%, #FFF 24%);
        font-size: .9em;
        letter-spacing: .26em;

        span{
            font-size: 1.6em;
        }
    }


    .section-conceito{
        .item{
            width: 100% !important;
        }

        picture img{
            max-width: 100% !important;
        }
    }


    .slider-container{
        height: 430px;

        .slider{
            .fx-zoom{
                width: 100vw;
                max-width: 100vw;
            }

            .fx-to-left{
                width: 1203px;
                max-width: 1203px;
            }
        } 
    }

    .section-block-3{
        .num{ line-height: initial; }
        p{ font-size: 1.4em; }
        h4{ font-size: 2.4em; }
    }


    .section-map-houses{
        .point{
            font-size: 2.6em;
            width: 40px;
            height: 40px;

            p{
                top: 33px;
            }
        
            &.p1{
                top: 17%;
                left: 67%;
            }
        
            &.p2{
                top: 17%;
                left: 48%;
            }
        
            &.p3{
                top: 17%;
                left: 31%;
            }
        
            &.p4{
                top: 48%;
                left: 65%;
            }
        
            &.p5{
                top: 65%;
                left: 52%;
            }
        
            &.p6{
                top: 80%;
                left: 42%;
            }
        
            &:hover{
                width: 60px;
                height: 85px;
            }
        }
    }


    .section-plantas{
        .plantas-slide .box-img{
            margin-bottom: 0px;
        }

        .plantas-nav{
            width: 43%;
            margin-top: -60px;

            a{
                font-size: 1.25em;
                padding-left: 10px;
                letter-spacing: .1em;
            }
        }
    }


    .section-area-construida .mark{
        left: 5%;
        width: 14%;
        height: 14%;

        &.m2{ top: 20%; }
        &.m3{ top: 36%; }

        &.m4{ top: 7%;  left: 23.5%; transform: scale(0.9); }
        &.m5{ top: 17.5%; left: 42%; transform: scale(0.9); }
    }

    .section-block-2 .video-container button {
        width: 60px;
        height: 60px;

        i {
            font-size: 16px;
        }
    }

    .casa-brisa{
        background-image: url(../img/casa-brisa-mobile.webp);
        padding-bottom: calc(174%);
    }


    .section-studio{
        .arq{
            transform: translate(0);
        }
    } 


    .section-obras{
        .frase-total .small{
            font-size: .74em;
        }

        .box-andamento .legenda{
            font-size: 1.3em;
            letter-spacing: .3em;
        }

        .box-andamento .perc{
            font-size: 2.8em;
        }
    }


    .section-rodape{
        background-image: url(../img/img-footer-mobile.webp);
        background-size: cover;
        height: 596px;
    }

   

    // FOOTER

    footer{
        small{
            display: block;
            line-height: 1.4;
        }
        .assinatura{ font-size: 1.4em; }
    }

}