@charset "utf-8";
@import 'var-mix';
@import 'typography.scss';
@import 'global';
@import "animataion.scss";
@import "layout/header.scss";
@import 'layout/menu-header.scss';
@import "layout/footer.scss";
@import "main.scss";
@import 'components/button.scss';
@import 'components/input.scss';
@import 'components/bt-whatsbox';
@import 'components/main-banners';
@import 'components/galeria-slide';
@import 'components/slide-component';
@import 'components/side-form';
@import 'pages/home.scss';




/*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜* GERAL *˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*˜*/




ul {
  list-style-type: none;
}

.line {
  background: $d-gray;
}

hr {
  height: 1px;
  width: 100%;
  background: $root-color;
  margin: 15px 0;
  border: none;
}



/* ------------------------|
|                          |
|      STYLE BANNER        |
|                          |
| -------------------------|
*/

.section-banners {
  position: relative;
  margin-top: 0;
  padding: 0 0 0px;
  background-color: $l-gray;

  .cycle-prev, .cycle-next {
    @include absolute($t: 41%, $l: 10px, $z: 120);
    @include size(100px);
    @include flex(center, center);
    cursor: pointer;
    opacity: 0.8;
    // border: 1px solid $secondary-color;
    // border-radius: 50%;
    @include transition();
    // background-color: rgba(0,0,0,0.3);
  }

  .cycle-next {
    left: initial;
    right: 10px;
  }

  .cycle-prev:hover, .cycle-next:hover {
    // background-color: #FFF;
    transform: scale(1.1);
    opacity: 1;
  }

  .txt-banner {
    left: 0%;
    top: 410px;
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 680px;
    // padding: 0 60px;

    .btn {
      margin-top: 10px;
    }
  }


  .h1 {
    line-height: 0.9;
    font-size: 9em;
    font-weight: 400;
    color: #f8f8f8;
    margin-bottom: 2px;
    letter-spacing: 10px;

    p {
      font-size: 1em;
    }
  }

  .h2 {
    color: #f8f8f8;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.4;
    margin-bottom: 17px;
    letter-spacing: 1px;
  }


  .cycle-slideshow .li {
    top: 0px !important;
    width: 100%;
    height: 760px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    // animation: banner_vert 22s ease-in infinite;

    &.video {
      pointer-events: none;
    }

    &.horiz {
      animation: banner_horiz 22s ease-in infinite;
    }

    .overlay {
      @include absolute($l: 0, $t: 0, $z: 1);
      @include size(100%);
      background: linear-gradient(to bottom, rgba(30, 30, 30, .2) 0%, rgba(30, 30, 30, 0.6) 100%);
    }
  }

  .cycle-pager {
    text-align: center;
    @include absolute($b: 30px, $l: 0, $z: 101);
    @include size(100%, auto);
    cursor: pointer;

    span {
      text-indent: -9999px;
      @include size(6px, 6px);
      background-color: #FFF;
      display: inline-block;
      margin: 0 20px;
      border-radius: 3px;
    }

    .cycle-pager-active {
      @include size(10px, 10px);
      background-color: $primary-color;
      transform: translateY(-2px);
    }
  }
}

@keyframes banner_vert {
  0% {
    background-position: center top 0;
  }
  50% {
    background-position: center top -300px;
  }
  100% {
    background-position: center top 0;
  }
}

@keyframes banner_horiz {
  0% {
    background-position: left 0 top;
  }
  50% {
    background-position: left -200px top;
  }
  100% {
    background-position: left 0 top;
  }
}




/* COOKIES */

.cookies {
  font-size: 14px;
  position: fixed;
  width: 1000px;
  max-width: 100%;
  z-index: 202;
  bottom: 40px;
  margin-left: 50%;
  transform: translateX(-50%);

  .cookies-warning-box {
    border-radius: 0px;
    box-shadow: 6px 2px 48px -17px rgba(0, 0, 0, 0.75);
    padding: 40px 50px 40px;
    background-color: $secondary-color;
    text-align: justify;

    h3 {
      font-size: 24px;
    }
  }

  .cookies-warning-btn .btn {
    font-size: 14px;
    padding: 13px 30px 9px;
  }
}


@media screen and (max-width: 767px) {

  .cookies {
    width: 90%;
    bottom: 20px;

    .cookies-warning-box {
      font-size: 14px;
      padding: 30px 35px;

      h3 {
        font-size: 21px;
      }
    }

    .cookies-warning-text {
      margin-bottom: 0;
    }

    .btn {
      min-width: 220px;
    }
  }
}




/* ESTILIZAR A BARRA DE ROLAGEM  */

// ::-webkit-scrollbar{ width: 5px; }
// ::-webkit-scrollbar-track{ background: #EEE; border-radius:10px; }
// ::-webkit-scrollbar-thumb{ background: #c1bfba; border-radius:10px; }


@import 'mobile';
