

.font-primary {
  font-family: 'neue-haas-unica' !important;
}

.font-secondary {
  font-family: 'quiche-sans' !important;
}


a {
  color: inherit;
  text-decoration: none;
  transition: all .2s linear;
}

a:hover {
  color: $primary-color;
}

strong {
  font-weight: 900;
  color: $root-color;
}


h1, h2 {
  font-size: 3.4em;
  line-height: 1.1;
  font-weight: 400;
  font-family: 'quiche-sans';
  color: $root-color;
  letter-spacing: 0px;
  margin-bottom: 30px;
  // text-align: center;

  &.small {
    font-size: 3.2em;
  }

  div.waypoint {
    display: block;
    opacity: 1;

    span {
      opacity: 0;
      transition: opacity .5s ease-in;

      &.animated {
        opacity: 1;
      }
    }
  }

}

h3 {
  font-size: 2.8em;
  font-family: 'quiche-sans';
  font-weight: 400;
  margin-bottom: 20px;
  transition: all 0.3s linear;
  line-height: 1.3;

  &.big {
    font-size: 30px;
  }
}

h4 {
  font-size: 2.2em;
  font-family: 'quiche-sans';
  font-weight: 400;
  line-height: 1.4;
  // color: $primary-color;
  margin-bottom: 15px;
  // text-align: center;
  // letter-spacing: 0px;

  div.waypoint {
    display: block;
    opacity: 1;

    span {
      opacity: 0;
      transition: opacity .5s ease-in;

      &.animated {
        opacity: 1;
      }
    }
  }
}

.subtitle {
  color: inherit;
  font-size: 40px;
  line-height: 1.5;

  &.small {
    font-size: 18px;
    line-height: 1.9;
  }

  &.blog {
    font-size: 30px;
    line-height: 1.3;
  }
}
