

$primary-font: 'Work Sans';
$secondary-font: 'athena';

.font-primary {  font-family: $primary-font, sans-serif !important; }
.font-secondary { font-family: $secondary-font, sans-serif !important;  }


a {
  color: inherit;
  text-decoration: none;
  transition: all .2s linear;
}

a:hover {
  color: $primary-color;
}

strong {
  font-weight: 700;
  color: $root-color;
}


h1, h2 {
  font-size: 3.4em;
  line-height: 1.1;
  font-weight: 400;
  font-family: $primary-font;
  color: $ocre-escuro;
  letter-spacing: 0px;
  margin-bottom: 30px;
  // text-align: center;

  &.small {
    font-size: 3.2em;
  }

  div.waypoint {
    display: block;
    opacity: 1;

    span {
      opacity: 0;
      transition: opacity .5s ease-in;

      &.animated {
        opacity: 1;
      }
    }
  }

}

h3 {
  font-size: 2.8em;
  font-family: $primary-font;
  font-weight: 400;
  margin-bottom: 20px;
  transition: all 0.3s linear;
  line-height: 1.3;
  letter-spacing: 0;

  &.big {
    font-size: 30px;
  }
}

p {
  font-size: 1.6em;
  font-weight: 500;
  letter-spacing: 0;
}

h4 {
  font-size: 2.2em;
  font-family: $primary-font;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.4;
  // color: $primary-color;
  margin-bottom: 15px;
  // text-align: center;
  // letter-spacing: 0px;

  div.waypoint {
    display: block;
    opacity: 1;

    span {
      opacity: 0;
      transition: opacity .5s ease-in;

      &.animated {
        opacity: 1;
      }
    }
  }
}

.subtitle {
  color: inherit;
  font-size: 40px;
  line-height: 1.5;

  &.small {
    font-size: 18px;
    line-height: 1.9;
  }

  &.blog {
    font-size: 30px;
    line-height: 1.3;
  }
}
