/*
* Smooth Scroll West
*
* Copyright 2024 Willian West
* Free to use under the GPLv2 and later license.
* http://www.gnu.org/licenses/gpl-2.0.html
*
* Contributing author: Willian West (@willianwest)
*
*/

:root {
    --time-scroll-page: 1.1s;
}

@media only screen and (min-width: 1025px){

    html {
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;
    }

    .smooth-scroll-container {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .smooth-scroll-container .smooth-scroll-bar-page {
        position: fixed;
        z-index: 9999;
        right: 10px;
        top: 10px;
        width: 6px;
        height: 80px;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        border: 1px solid rgba(255,255,255, 0.3);
        transition: all 0.9s cubic-bezier(0.19, 0.44, 0.15, 1);
        cursor: pointer;
    }

    .smooth-scroll-container .smooth-scroll-bar-page.is-dragging{
        transition-duration: 0s;
    }

    .smooth-scroll-container .smooth-scroll-bar-page:hover{
        background-color: rgba(0, 0, 0, 1);
    }


    .smooth-scroll-content {
        position: absolute;
        width: 100%;
        transition: transform var(--time-scroll-page) cubic-bezier(0.19, 0.44, 0.15, 1);
    }

    .js-parallax, .js-paraleft{
        transition: transform var(--time-scroll-page) cubic-bezier(0.19, 0.44, 0.15, 1);
        will-change: transform;
    }

    ::-webkit-scrollbar{
        width: 0px;
        background: transparent;
    }
}


@media (max-width: 1024px) {
    .smooth-scroll-container {
        height: auto;
        overflow: visible;
    }

    .smooth-scroll-content {
        position: relative;
    }

    .smooth-scroll-container .smooth-scroll-bar-page {
        display: none;
    }

    .js-parallax, .js-paraleft {
        transition: none;
    }
}