/* ------------------------|
|                          |
|       STYLE HOME         |
|                          |
| -------------------------|
*/
.section-banner {
  background: url(../img/bg-texture-dark.webp);
  letter-spacing: 1.5em;
  line-height: 2.6;
  padding-top: 0;


  hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .video-container {
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;

    &, iframe, .cover-aram {
      width: 100%;
      height: auto;
      aspect-ratio: 1920 / 900;
    }

    .cover-aram {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: 3;
    }

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: #84786a;
        font-size: 42px;
      }

      &:hover ~ .cover-aram {
        filter: brightness(0.85);
      }
    }

    img.cover-aram {
      transition: 0.4s;
      aspect-ratio: 1920 / 900;
      object-fit: cover;

      filter: brightness(0.6);
    }
  }
}


.section-intro {
  .content {
    display: grid;
    grid-template-columns: 739fr 761fr;

    .left {

      .image-container img {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      .skills-block {
        padding-left: 105px;

        hr {
          width: 100%;
          background: $ocre-escuro;
          height: 2px;
          margin-top: 70px;
        }

        div {
          width: 100%;
          max-width: 307px;

          p strong {
            font-size: 30px;
          }

          p {
            font-family: $font-secondary;
            font-size: 24px;
          }

          hr {
            background: $root-color;
            height: 1px;
            margin-top: 33px;
          }
        }
      }
    }

    .right {

      .text-container {
        padding-left: 124px;


        h2, p {
          max-width: 480px;
        }


        position: relative;

        .paper-background {
          position: absolute;
          top: 0;
          right: 0;
          max-width: unset;
          z-index: -1;
        }
      }

      .image-container {

      }

    }

  }
}

.casa-brisa {
  background: url(../img/casa-brisa.webp) center top;
  background-size: cover;
  padding-bottom: calc(52% - 132px);

  h2 {
    color: $ll-gray;
    font-size: 2em;
    letter-spacing: 0.5em;
  }
}


.section-localizacao {
  background: linear-gradient(to bottom, #FFF 52%, $dark-color 52%);

  .address {
    letter-spacing: 0.4em;
  }

  .proximidades {
    .item {
      p {
        font-size: 2em;
        font-family: 'quiche-sans';
      }

      small {
        font-size: 1.2em;
        letter-spacing: 0.05em;
      }
    }
  }

  .maps {
    filter: sepia(72%) brightness(78%) hue-rotate(335deg) saturate(107%) contrast(99%);
    -webkit-filter: sepia(72%) brightness(78%) hue-rotate(335deg) saturate(107%) contrast(99%);
    -moz-filter: sepia(72%) brightness(78%) hue-rotate(335deg) saturate(107%) contrast(99%);
  }
}



.section-rodape {
  background: url(../img/img-footer.webp) center top;
  height: 436px;
}


.fancybox-caption__body {
  color: #FFF;
}
