/* ------------------------|
|                          |
|       STYLE HOME         |
|                          |
| -------------------------|
*/
.section-banner {
  background: url(../img/bg-texture-dark.webp);
  letter-spacing: 1.5em;
  line-height: 2.6;
  padding-top: 0;


  hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .video-container {
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;

    &, iframe, .cover-aram {
      width: 100%;
      height: auto;
      aspect-ratio: 1920 / 900;
    }

    .cover-aram {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: 3;
    }

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: #84786a;
        font-size: 42px;
      }

      &:hover ~ .cover-aram {
        filter: brightness(0.85);
      }
    }

    img.cover-aram {
      transition: 0.4s;
      aspect-ratio: 1920 / 900;
      object-fit: cover;

      filter: brightness(0.6);
    }
  }
}


.section-intro {
  padding-bottom: 50px;

  .content {
    display: grid;
    grid-template-columns: 739fr 755fr;

    h2, p, strong, .debora-text {
      color: $ocre-escuro;
    }

    .left {

      .image-container img {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      .skills-block {
        padding-left: 105px;

        hr {
          width: 100%;
          background: $ocre-escuro;
          height: 2px;
          margin-top: 70px;
          transform-origin: left;
        }

        div {
          width: 100%;
          max-width: 307px;

          p strong {
            font-size: 30px;
          }

          p {
            font-family: $secondary-font;
            font-size: 24px;
          }

          hr {
            background: $root-color;
            height: 1px;
            margin-top: 33px;
          }
        }

        .arquitetura-buttons {
          p { transition: 0.4s; color: $root-color; cursor: pointer; }

          p.is-active {
            font-weight: 700;
            font-size: 30px;
            color: #847256;
          }
        }
      }
    }

    .right {



      .text-container {
        padding-left: 124px;


        h2, p {
          max-width: 480px;
        }

        p {
          font-weight: 500;
        }


        position: relative;

        .paper-background {
          position: absolute;
          top: 0;
          right: 0;
          max-width: unset;
          z-index: -1;
        }
      }

      .image-container {
        position: relative;

        .debora-text {
          position: absolute;
          font-weight: 400;
          font-size: 15.4px;
          text-align: right;
          color: #847256;
          right: 674px;
          bottom: 260px;
          WIDTH: 400PX;

          strong {
            font-size: 24.2px;
            color: $ocre-escuro;

          }
        }

        hr {
          height: 2px;
          width: 500%;
          margin-top: 50px;
          margin-bottom: 0;
          transform-origin: left;

        }
      }

      .assinaturas-images {
        position: relative;

        img {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: 0.4s;
        }

        img.is-active {
          position: relative;
          opacity: 1;
        }
      }


    }

    .animation_bottom_d1, .animation_bottom, .animation_bottom_d2,
    .animation_left, .animation_bottom {
      opacity: 0;

      &.animated { opacity: 1; }
    }


  }


}

.section-video {
  letter-spacing: 1.5em;
  line-height: 2.6;
  padding-top: 0;


  hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .video-container {
    position: relative;
    margin: 0 auto;

    button#bt-play img {
      width: 56px;
      height: 59px;

    }

    &, iframe, .cover-aram {
      width: 100%;
      height: auto;
      aspect-ratio: 1920 / 900;
    }

    .cover-aram {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: 3;
    }

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: #84786a;
        font-size: 42px;
      }

      &:hover ~ .cover-aram {
        filter: brightness(0.85);
      }
    }

    img.cover-aram {
      transition: 0.4s;
      aspect-ratio: 1920 / 900;
      object-fit: cover;

      filter: brightness(0.6);
    }
  }
}


.section-caracteristicas {

  .content {
    display: grid;
    grid-template-columns: 523fr 971fr;

    .left {
      .image-container {
        position: relative;

        .selo-gbc {
          position: absolute;
          top: -37px;
          left: -35px;
          width: 170px;
          height: 170px;
        }
      }
    }

    .right {
      display: flex;
      justify-content: center;

      h2 {
        font-size: 48px;
        margin-bottom: 120px;
        color: $ocre-escuro;
      }

      .container-right {
        width: 100%;
        max-width: 742px;

        div {
          position: relative;

          p {
            position: absolute;
            left: 110px;
            bottom: -60px;
            color: $ocre-escuro;
          }
        }

        > p {
          width: 100%;
          max-width: 535px;
          color: $ocre-escuro;
        }
      }

    }

  }

}

section.section-plantas {
  padding-top: 195px;

  p { font-size: 22px;}

  h2 { font-weight: 500; }

  .title-container {
    position: relative;
    width: fit-content;
    margin: 0 auto;

    hr {
      position: absolute;
      top: 0;
      height: 3px;
      right: 0;
      margin: 0;
      width: 2000px;
    }

    h2 {
      font-family: $secondary-font;
      max-width: 325px;
      width: 100%;
      padding-top: 20px;
      margin: 0 auto;
    }
  }

  .selo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    gap: 79px;

    .image-container img {
      width: 164px;
      height: 164px;
    }

    hr {
      height: 3px;
      background: $root-color;
    }
  }
}

section.mapa {
  margin-top: 110px;

  h3 , p {
    text-align: center;
    color: $ocre-escuro;
  }

  h3 {
    font-weight: 500;
    font-size: 33px;
  }

  p {
    font-weight: 500;
    max-width: 374px;
    margin: 0 auto;
  }

  .map-container {

    iframe {
      pointer-events: none;
      display: block;
    }


    .distances-block {
      background: $root-color;
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 848px;
      width: 100%;
      margin: 0 auto;
      padding: 40px 54px 27px;
      gap: 10px 120px;
      position: relative;
      top: -80px;

      div {
        display: flex;
        gap: 11px;
        max-width: 312px;
        width: 100%;
        color: #fff;

        hr {
          background: #fff;
          flex: 1;
        }

        p {
          font-size: 14px;
          font-weight: 400;
          text-align: left;
          color: white;
        }
      }

    }
  }


  .form-block {
    width: 100%;
    max-width: 1280px;
    background: $root-color;
    margin: 0 auto;
    padding: 60px 162px;

    p {
      color: white;
      max-width: 491px;

      &.bigger {
        margin-top: 18px;
      }
    }


    form {
      .row {
        display: flex;
        gap: 16px;
        margin-top: 47px;

      }



      label.checkbox {
        gap: 9px;

        span:hover {
          color: white;
        }

        span { color: white !important; }
      }
    }

    .button-container {
      display: flex;
      justify-content: flex-end;

      .btn {
        margin: 0;
        background: $white-color-1;
        width: 225px;

        span {
          color: $root-color;
        }


        &:hover {
          span { color: $white-color-1; }
        }
      }
    }
  }

}

.section-rodape {
  background: url(../img/img-footer.webp) center top;
  height: 436px;
}


.fancybox-caption__body {
  color: #FFF;
}


// Smartphone
@media(max-width: 578px){
  .section-banner {
    &, iframe, .cover-aram {
      width: 100%;
      height: auto;
      aspect-ratio: 540 / 900;
    }
  }

  .section-intro {
    .content {
      grid-template-columns: 1fr;
      .left  { grid-area: left; }
      .right { grid-area: right; }
      grid-template-areas:
            "right"
            "left";

      .left {
        .image-container img {
          width: 100%;
          max-width: 394px;
          margin: 0 auto;
        }

        .skills-block {
          hr { width: 150%; }

          h4 {
            font-size: 48px;
            font-family: $secondary-font;
          }

           div {
            max-width: 100%;

            .skill-block-mobile {
              max-width: 394px;
            }
          }


        }
      }
    }

    .right .text-container p {
      max-width: 394px !important;
      width: 100%;
      margin: 0 auto;
    }



  }

}