/* ------------------------|
|                          |
|       STYLE HOME         |
|                          |
| -------------------------|
*/
.section-banner {
  background: url(../img/bg-texture-dark.webp);
  letter-spacing: 1.5em;
  line-height: 2.6;
  padding-top: 0;


  hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .video-container {
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;

    &, iframe, .cover-aram {
      width: 100%;
      height: auto;
      aspect-ratio: 1920 / 900;
    }

    .cover-aram {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: 3;
    }

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: #84786a;
        font-size: 42px;
      }

      &:hover ~ .cover-aram {
        filter: brightness(0.85);
      }
    }

    img.cover-aram {
      transition: 0.4s;
      aspect-ratio: 1920 / 900;
      object-fit: cover;

      filter: brightness(0.6);
    }
  }
}


.section-intro {
  padding-bottom: 50px;

  .content {
    display: grid;
    grid-template-columns: 739fr 755fr;

    h2, p, strong, .debora-text {
      color: $ocre-escuro;
    }

    .left {

      .image-container img {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      .skills-block {
        padding-left: 105px;

        hr {
          width: 100%;
          background: $ocre-escuro;
          height: 2px;
          margin-top: 70px;
          transform-origin: left;
        }

        div {
          width: 100%;
          max-width: 307px;

          p strong {
            font-size: 30px;
          }

          p {
            font-family: $secondary-font;
            font-size: 24px;
          }

          hr {
            background: $root-color;
            height: 1px;
            margin-top: 33px;
          }
        }
      }
    }

    .right {



      .text-container {
        padding-left: 124px;


        h2, p {
          max-width: 480px;
        }

        p {
          font-weight: 500;
        }


        position: relative;

        .paper-background {
          position: absolute;
          top: 0;
          right: 0;
          max-width: unset;
          z-index: -1;
        }
      }

      .image-container {
        position: relative;

        .debora-text {
          position: absolute;
          font-weight: 400;
          font-size: 15.4px;
          text-align: right;
          color: $ocre-escuro;
          left: -116px;
          bottom: 260px;

          strong {
            font-size: 24.2px;
            color: $ocre-escuro;

          }
        }

        hr {
          height: 2px;
          width: 500%;
          margin-top: 50px;
          margin-bottom: 0;
          transform-origin: left;

        }
      }

    }

    .animation_bottom_d1, .animation_bottom, .animation_bottom_d2,
    .animation_left, .animation_bottom {
      opacity: 0;

      &.animated { opacity: 1; }
    }


  }


}

.section-video {
  letter-spacing: 1.5em;
  line-height: 2.6;
  padding-top: 0;


  hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .video-container {
    position: relative;
    margin: 0 auto;

    button#bt-play img {
      width: 56px;
      height: 59px;

    }

    &, iframe, .cover-aram {
      width: 100%;
      height: auto;
      aspect-ratio: 1920 / 900;
    }

    .cover-aram {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: 3;
    }

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 5;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: #84786a;
        font-size: 42px;
      }

      &:hover ~ .cover-aram {
        filter: brightness(0.85);
      }
    }

    img.cover-aram {
      transition: 0.4s;
      aspect-ratio: 1920 / 900;
      object-fit: cover;

      filter: brightness(0.6);
    }
  }
}


.section-caracteristicas {

  .content {
    display: grid;
    grid-template-columns: 523fr 971fr;

    .right {
      display: flex;
      justify-content: center;

      .container-right {
        width: 100%;
        max-width: 742px;


        .grid-caracteristicas {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 26px 20px;

          div {
            p {
              font-weight: 500;
              font-size: 18px;
            }
            hr {
              height: 2px;
              background: $bege-color;
            }
          }
        }
      }

    }

  }

}

section.section-plantas {
  p { font-size: 22px;}

  h2 { font-weight: 500; }

  .selo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    gap: 79px;

    .image-container img {
      width: 164px;
      height: 164px;
    }

    hr {
      height: 3px;
      background: $root-color;
    }
  }
}

section.mapa {
  margin-top: 100px;

  h3 , p {
    text-align: center;
  }

  h3 {
    font-weight: 500;
    font-size: 33px;
  }

  p {
    font-weight: 500;
    font-size: 18px;
    max-width: 374px;
    margin: 0 auto;
  }

  .map-container {

    iframe {
      pointer-events: none;
      display: block;
    }


    .distances-block {
      background: $ocre-escuro;
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 848px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 54px;

      div {
        display: flex;
        gap: 11px;
        max-width: 312px;
        width: 100%;
        color: #fff;

        hr {
          background: #fff;
          flex: 1;
        }

        p {
          font-size: 14px;
          font-weight: 500;
          text-align: left;
        }
      }
    }
  }
}

.section-rodape {
  background: url(../img/img-footer.webp) center top;
  height: 436px;
}


.fancybox-caption__body {
  color: #FFF;
}
