
button, .button {
  border: none;
  // border: 2px solid $primary-color;
  // border-radius: 37px;
  cursor: pointer;
  transition: all 0.2s linear;
  padding: 15px 25px 14px;
  font-family: 'neue-haas-unica';
  font-weight: 400;
  // letter-spacing: 1px;
}



.btn {
  position: relative;
  background: $primary-color;
  border: 1px solid $primary-color;
  border-radius: 30px;
  display: inline-block;
  margin: 25px auto;
  padding: 11px 32px 12px;
  cursor: pointer;
  transition: all .2s linear;
  height: auto;
  // width: 400px;
  max-width: 100%;
  outline: none;
  font-family: 'IBM Plex Sans';
  overflow: hidden;
  // letter-spacing: 1px;
  @include text($color: #FFF, $size: 1.6em, $lh: 1.4, $weight: 400, $align: center);

  span {
    position: relative;
    z-index: 1;
  }

  &:after {
    content: '';
    background: $dark-color;
    @include size(100%, 0);
    @include absolute($t: 0, $l: 0%, $z: 0);
    @include transition(0.5s);
    border-radius: 30px;
  }


  &:hover {
    color: #FFF;
    border-color: $dark-color;

    &:after {
      height: 100%;
      left: 0;
    }
  }

  i {
    font-size: 19px;
    line-height: 25px;
    margin-right: 3px;
  }

  svg {
    margin-left: 10px;
    transform: translateY(3px);
  }

  &.is-transparent {
    background: none;
    color: #5F584D;

    &:hover {
      color: $primary-color;
    }

    svg {
      path {
        stroke: $primary-color;
      }
    }
  }

  &.is-gray {
    background: $root-color;

    &:hover {
      background: $d-gray;
      color: $primary-color;
    }
  }
}