
/* ------------------------|
|                          |
|       STYLE INPUT        |
|                          |
| -------------------------|
*/

input, .input {
  border: none;
  border-bottom: 1px solid $white-color-1;
  border-radius: 0;
  padding: 3px 0 10px;
  @include size(100%, auto);
  @include text($secondary-color, $size: 1.4em);
  outline: none;
  background: none;
  font-family: $primary-font;
  letter-spacing: 1px;
  box-shadow: none;
  font-weight: 400;

  @include placeholder {
    color: white;
    font-size: 16px;
  }

  &.checkbox {
    width: 15px;
  }

  &:hover {
    border-bottom: 1px solid $white-color-1;

  }
}

.select {
  height: auto !important;
  width: 100%;
}

.select select {
  border: none;
  border-bottom: 2px solid $primary-color;
  border-radius: 0;
  padding: 9px 23px 12px 0;
  height: auto;
  @include text($primary-color, $size: 2em);
  font-family: 'neue-haas-unica' !important;
  background: #FFF;
  transition: all 0.2s linear;
  width: 100%;
  box-shadow: none !important;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #AAA;
  border-width: 2px;
}

textarea, .textarea {
  border: none;
  margin-top: 38px;
  border-bottom: 1px solid $primary-color;
  border-radius: 0;
  padding: 14px 0;
  width: 100%;
  @include text($secondary-color, $size: 1.4em);
  outline: none;
  background: none;
  font-family: 'neue-haas-unica';
  letter-spacing: 1px;

  @include placeholder {
    color: $secondary-color;
  }
}

label.checkbox {

  color: white;
  display: flex;
}

/* QUANDO ESTIVER CHECKED */
.checkbox input[type="checkbox"] {
  accent-color: $white-color-1;
  color: #ff00c8;

  &:hover { accent-color: $white-color-1; }

}


.input:focus, .textarea:focus, .select select:focus, .input:active, .textarea:active, .select select:active {
  border-color: $secondary-color;
  box-shadow: none;
}