/* ------------------------|
|                          |
|          FOOTER          |
|                          |
| -------------------------|
*/

footer {
  padding-top: 30px;
  padding-bottom: 50px;

  .assinatura {
    color: $primary-color;

    a {
      &:hover {
        color: #FFF;
      }
    }
  }

  .content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  p.address {
    color: $bege-color;
    max-width: 342px;
    text-align: center;
  }


  .redes-sociais {
    display: flex;
    justify-content: center;
    gap: 13px;



    a {

      img {

      }

      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #000;
      background: $white-color-1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    i {
      font-size: 20px;
    }

  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 13px;

    li {
      a p {
        font-family: $secondary-font;
        color: $ocre-escuro;
        max-width: 350px;
        text-align: center;
        font-size: 20px;
      }

      &:hover p {
        color: $root-color;
      }
    }
  }
}
