
/* ------------------------|
|                          |
|       STYLE HEADER       |
|                          |
| -------------------------|
*/

header {
  @include transition(1s);
  @include fixed($t: 0, $z: 200);
  width: 100%;
  height: 165px;
  background: none;


  .navbar-burger {
    color: $primary-color;
    display: block;
    margin-left: 0;
    height: 139px;
    width: 144px;
    position: relative;
    z-index: 9999;

    span {
      background-color: $white-color-1;
      width: 37px;
      height: 3px;
      border-radius: 5px;
      @include transition();
      left: 50%;
      transform: translateX(-50%) !important;

    }

    span:nth-child(1) { top: calc(50% - 17px)  !important; }
    span:nth-child(2) { top: calc(50%)  !important; opacity: 1 !important; }
    span:nth-child(3) { top: calc(50% + 17px)  !important; }

    &:hover {
      background: $primary-color;

      span {
        background-color: #FFF;
      }
    }

  }

  .brava-concetto-logo {
    position: absolute;
    top: 115px;
    left: 177px;
    transition: 0.8s;
    width: 416px;
  }

  &.is-compact {
    padding-top: 0px;
    height: 80px;
    background-color: $root-color;
    backdrop-filter: blur(6px);

    .brava-concetto-logo {
      top: 35px;
      width: 300px;

    }

     .navbar-burger{

       height: 80px;
       width: 80px;

       span:nth-child(1) { top: calc(50% - 13px) !important; }
       span:nth-child(2) { top: calc(50%); }
       span:nth-child(3) { top: calc(50% + 13px) !important; }
     }
  }


  .logo {
    // max-width: 256px;
    margin: 10px 0 0;
    transition: all 1s cubic-bezier(0.38, 0, .02, 1);
  }

  .links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    @include transition(0.6s);

    a {
      color: $root-color;
      font-size: 1.5em;
      font-weight: 500;
      font-family: 'neue-haas-unica';
      position: relative;
      letter-spacing: 1px;
      @include before(#49433b, 0, 1px, 0, 115%, $time: 0.7s);

      &:hover {
        // color: $primary-color;
        color: #49433b;

        &:before {
          width: 100%;
        }
      }

      &.is-active {
        color: $primary-color;

        &:before {
          width: 100%;
        }
      }
    }
  }
}

