
/* ------------------------|
|                          |
|         MENU FLOAT       |
|                          |
| -------------------------|
*/

.menu {
  @include fixed($t: 0, $r: -100%, $z: 200);
  @include size(100%, 100vh);
  overflow: hidden;
  transition: all 1s cubic-bezier(0.54, 0.18, 0.13, 1);
  background-color: $root-color;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 104px;

  &.is-active {
    right: 0;
    opacity: 1;
  }

  .container-menu {
    position: relative;
    width: 100%;
    max-width: 1540px;
    padding: 0 130px;
    height: calc(100vh - 104px);
  }

  .bt-close-menu {
    @include absolute($t: 52px, $l: 51px);
    @include transition(0.6s);
    cursor: pointer;

    &:hover {
      transform: scale(1.2) rotate(90deg);
    }
  }

  .logo {
    @include absolute($b: 7%, $l: 6vw);
    @include size(90px, 30px);
    // display: block;
  }

  .phone {
    @include absolute($b: 7%, $r: 6vw);

    a {
      letter-spacing: 0.3em;
    }
  }

  a.menu-item {
    font-size:  3.175vh;
    border-bottom: 2px solid $ocre-escuro;
    line-height: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: inline-block;
    color: $ll-gray;
    width: 100%;
    // letter-spacing: 1.5px;
    @include transition(0.7s);



    &:hover, &.current {

      color: $dark-color;
      transform: translateX(20px);
    }
  }


  .redes-sociais-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;


    .redes-sociais {
      display: flex;
      justify-content: center;
      gap: 13px;


      a {

        img {

        }

        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #000;
        background: $white-color-1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  p {
    color: $bege-color;
    text-align: center;
    max-width: 430px;
    font-size: 18px;
    margin: 0 auto;
  }
}
